# Бинарные файлы и исполняемые файлы
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тесты и покрытие
*.test
*.out
coverage
coverage.txt

# Зависимости
vendor/

# IDE и редакторы
.idea/
.vscode/
*.iml
*.swp
*.swo

# Файлы окружения
.env
.env.local
.env.*.local

# Логи
logs/
*.log

# Кэш Go
.gocache/
.cache/
go-build/

# Docker
postgres_data/